event-handler ET1-HANDLER
   trigger on-intf Ethernet1 operstatus
   action bash /mnt/flash/switch_lights.sh
   delay 0
!
event-handler ET2-HANDLER
   trigger on-intf Ethernet2 operstatus
   action bash /mnt/flash/switch_lights.sh
   delay 0
!
event-handler PARTY1
   action bash /mnt/flash/eos_lights.py --controller 10.10.0.48 --key aHo3iNrzkdmw3ehRUrn8cMYq5YcwPgKdsvtE7Opc --party 1
   delay 0
   !
   trigger on-logging
      poll interval 3
      regex party1
!
event-handler PARTY2
   action bash /mnt/flash/eos_lights.py --controller 10.10.0.48 --key aHo3iNrzkdmw3ehRUrn8cMYq5YcwPgKdsvtE7Opc --party 2
   delay 0
   !
   trigger on-logging
      poll interval 3
      regex party2
